.hero {
    padding-top: 104px;

    @include breakpoint('md') {
        padding-top: 60px;
    }

    .section-title {
        @include breakpoint('xs') {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .title-holder {
        margin-bottom: 136px;

        @include breakpoint('md') {
            margin-bottom: 80px;
        }
    }
}