.quote-section {
    
    .quote-fig {
        padding: 84px 159px 110px 60px;
        background-color: $brown;
        color: $white;
        border-radius: 16px;

        @include breakpoint('lg') {
            padding: 80px 80px 80px 50px;
        }
        @include breakpoint('md') {
            padding: 40px;
        }
    }

    .quote {
        margin-bottom: 45px;
    }

    .author {
        font-size: 26px;
        font-style: normal;
    }
}